flows - core nodes.json
[
    {
        "id": "b3f109c8e7cfd97e",
        "type": "tab",
        "label": "Training - core",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9b10572b0c031f4d",
        "type": "inject",
        "z": "b3f109c8e7cfd97e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 140,
        "wires": [
            [
                "d3d22fcd90c10fe2"
            ]
        ]
    },
    {
        "id": "d3d22fcd90c10fe2",
        "type": "debug",
        "z": "b3f109c8e7cfd97e",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 140,
        "wires": []
    },
    {
        "id": "3828123aed07f29c",
        "type": "comment",
        "z": "b3f109c8e7cfd97e",
        "name": "basics",
        "info": "",
        "x": 110,
        "y": 60,
        "wires": []
    },
    {
        "id": "eff454d0c56ca1c9",
        "type": "inject",
        "z": "b3f109c8e7cfd97e",
        "d": true,
        "name": "ciclic",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 200,
        "wires": [
            [
                "d3d22fcd90c10fe2"
            ]
        ]
    },
    {
        "id": "a5309dc2bfc688b4",
        "type": "inject",
        "z": "b3f109c8e7cfd97e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "something_else",
                "v": "10",
                "vt": "num"
            },
            {
                "p": "boolean",
                "v": "true",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "topic message",
        "payload": "",
        "payloadType": "date",
        "x": 250,
        "y": 320,
        "wires": [
            [
                "d4337d28de51ad9f"
            ]
        ]
    },
    {
        "id": "d4337d28de51ad9f",
        "type": "debug",
        "z": "b3f109c8e7cfd97e",
        "name": "complete",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 320,
        "wires": []
    },
    {
        "id": "704d7939b634420d",
        "type": "inject",
        "z": "b3f109c8e7cfd97e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 460,
        "wires": [
            [
                "f651a969cc4a6a07"
            ]
        ]
    },
    {
        "id": "f651a969cc4a6a07",
        "type": "function",
        "z": "b3f109c8e7cfd97e",
        "name": "function 1",
        "func": "msg.payload = \"node-red\";\nmsg.topic = \"ABC\";\n\nlet test = true;\nmsg.xyz = test;\n\nconst json = { \"aaa\": 999, \"bbb\": \"888\", \"ccc\": true };\nmsg.value = json[\"bbb\"];\n\nmsg.payload = \"NODE_RED!\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 460,
        "wires": [
            [
                "0e232b0507984b47"
            ]
        ]
    },
    {
        "id": "0e232b0507984b47",
        "type": "debug",
        "z": "b3f109c8e7cfd97e",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 460,
        "wires": []
    },
    {
        "id": "72e6efefdf4532e5",
        "type": "comment",
        "z": "b3f109c8e7cfd97e",
        "name": "functions",
        "info": "",
        "x": 140,
        "y": 420,
        "wires": []
    },
    {
        "id": "d9690afea424f450",
        "type": "debug",
        "z": "b3f109c8e7cfd97e",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 540,
        "wires": []
    },
    {
        "id": "97b7fd6413cac60a",
        "type": "inject",
        "z": "b3f109c8e7cfd97e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 540,
        "wires": [
            [
                "7b84aff63e9c9ea7"
            ]
        ]
    },
    {
        "id": "7b84aff63e9c9ea7",
        "type": "function",
        "z": "b3f109c8e7cfd97e",
        "name": "function 2",
        "func": "let test = 10\n\nmsg.test = test;\n\nif (test == 20){\n    msg.payload = true;\n}else{\n    msg.payload = false;\n}\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 540,
        "wires": [
            [
                "d9690afea424f450"
            ]
        ]
    },
    {
        "id": "ea7fc07661727a24",
        "type": "inject",
        "z": "b3f109c8e7cfd97e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "ABC",
        "payload": "51",
        "payloadType": "num",
        "x": 210,
        "y": 620,
        "wires": [
            [
                "c002757d6c5d32c3"
            ]
        ]
    },
    {
        "id": "c002757d6c5d32c3",
        "type": "switch",
        "z": "b3f109c8e7cfd97e",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "10",
                "vt": "num"
            },
            {
                "t": "lte",
                "v": "9",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 370,
        "y": 620,
        "wires": [
            [
                "0e232b0507984b47"
            ],
            [
                "d9690afea424f450"
            ]
        ]
    },
    {
        "id": "94d8e658944814c3",
        "type": "comment",
        "z": "b3f109c8e7cfd97e",
        "name": "external commands",
        "info": "",
        "x": 150,
        "y": 800,
        "wires": []
    },
    {
        "id": "3fe558a394d1d813",
        "type": "exec",
        "z": "b3f109c8e7cfd97e",
        "command": "xed",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 410,
        "y": 880,
        "wires": [
            [
                "31d7714674ca93d4"
            ],
            [],
            [
                "31d7714674ca93d4"
            ]
        ]
    },
    {
        "id": "be3bdbdb575fa6bd",
        "type": "inject",
        "z": "b3f109c8e7cfd97e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 880,
        "wires": [
            [
                "3fe558a394d1d813"
            ]
        ]
    },
    {
        "id": "31d7714674ca93d4",
        "type": "debug",
        "z": "b3f109c8e7cfd97e",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 920,
        "wires": []
    },
    {
        "id": "0310ea1ff1834118",
        "type": "exec",
        "z": "b3f109c8e7cfd97e",
        "command": "notepad.exe",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 390,
        "y": 960,
        "wires": [
            [
                "31d7714674ca93d4"
            ],
            [],
            [
                "31d7714674ca93d4"
            ]
        ]
    },
    {
        "id": "16db51d66d7ed21a",
        "type": "inject",
        "z": "b3f109c8e7cfd97e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 960,
        "wires": [
            [
                "0310ea1ff1834118"
            ]
        ]
    },
    {
        "id": "aacac9892e967872",
        "type": "comment",
        "z": "b3f109c8e7cfd97e",
        "name": "WINDOWS",
        "info": "",
        "x": 410,
        "y": 1000,
        "wires": []
    },
    {
        "id": "dfe761384f6ce701",
        "type": "comment",
        "z": "b3f109c8e7cfd97e",
        "name": "LIINUX MINT",
        "info": "",
        "x": 410,
        "y": 840,
        "wires": []
    },
    {
        "id": "262f0cb7db8e1527",
        "type": "file",
        "z": "b3f109c8e7cfd97e",
        "d": true,
        "name": "",
        "filename": "",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 420,
        "y": 1260,
        "wires": [
            [
                "3e532d29f243466a"
            ]
        ]
    },
    {
        "id": "e6ecf0974095b813",
        "type": "inject",
        "z": "b3f109c8e7cfd97e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "aaaaaaaaaaaaaaa",
        "payloadType": "str",
        "x": 230,
        "y": 1260,
        "wires": [
            [
                "262f0cb7db8e1527"
            ]
        ]
    },
    {
        "id": "3e532d29f243466a",
        "type": "debug",
        "z": "b3f109c8e7cfd97e",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 1300,
        "wires": []
    },
    {
        "id": "cfd7de90b6d0a108",
        "type": "file in",
        "z": "b3f109c8e7cfd97e",
        "d": true,
        "name": "",
        "filename": "",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 420,
        "y": 1340,
        "wires": [
            [
                "3e532d29f243466a"
            ]
        ]
    },
    {
        "id": "b5a2e472ca84687e",
        "type": "inject",
        "z": "b3f109c8e7cfd97e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 1340,
        "wires": [
            [
                "cfd7de90b6d0a108"
            ]
        ]
    },
    {
        "id": "6d5e85b3a46f8468",
        "type": "comment",
        "z": "b3f109c8e7cfd97e",
        "name": "don't forget to set the path",
        "info": "",
        "x": 410,
        "y": 1220,
        "wires": [],
        "icon": "node-red/alert.svg"
    },
    {
        "id": "f348bf064be635f4",
        "type": "comment",
        "z": "b3f109c8e7cfd97e",
        "name": "context",
        "info": "",
        "x": 110,
        "y": 1440,
        "wires": []
    },
    {
        "id": "d181dae05ae814ac",
        "type": "function",
        "z": "b3f109c8e7cfd97e",
        "name": "local_var",
        "func": "let local_var = context.get(\"local_var\") || \"empty\";\n\nif (local_var == \"empty\") {\n    local_var = 1;\n} else{\n    local_var += 1;\n}\n\ncontext.set(\"local_var\", local_var);\n\nmsg.payload = local_var;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 1480,
        "wires": [
            [
                "7196a695278ede18"
            ]
        ]
    },
    {
        "id": "bc7dc12ca38ffc8e",
        "type": "inject",
        "z": "b3f109c8e7cfd97e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 1480,
        "wires": [
            [
                "d181dae05ae814ac"
            ]
        ]
    },
    {
        "id": "5577531bea6c5081",
        "type": "function",
        "z": "b3f109c8e7cfd97e",
        "name": "flow_var",
        "func": "let local_var = flow.get(\"flow_var\") || \"empty\";\n\nif (local_var == \"empty\") {\n    local_var = 1;\n} else{\n    local_var += 1;\n}\n\nflow.set(\"flow_var\", local_var);\n\nmsg.payload = local_var;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 1540,
        "wires": [
            [
                "e84119d64b6fd98b"
            ]
        ]
    },
    {
        "id": "6fc3d5a511906ae4",
        "type": "inject",
        "z": "b3f109c8e7cfd97e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 1540,
        "wires": [
            [
                "5577531bea6c5081"
            ]
        ]
    },
    {
        "id": "9f76bb39394bfe11",
        "type": "function",
        "z": "b3f109c8e7cfd97e",
        "name": "flow_var",
        "func": "let local_var = flow.get(\"flow_var\") || \"empty\";\n\nif (local_var == \"empty\") {\n    local_var = 1;\n} else{\n    local_var += 1;\n}\n\nflow.set(\"flow_var\", local_var);\n\nmsg.payload = local_var;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 1580,
        "wires": [
            [
                "7640d11e4c2bfdee"
            ]
        ]
    },
    {
        "id": "d85a31356a7420b0",
        "type": "inject",
        "z": "b3f109c8e7cfd97e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 1580,
        "wires": [
            [
                "9f76bb39394bfe11"
            ]
        ]
    },
    {
        "id": "4442c90811317a6a",
        "type": "function",
        "z": "b3f109c8e7cfd97e",
        "name": "global_var",
        "func": "let local_var = global.get(\"global_var\") || \"empty\";\n\nif (local_var == \"empty\") {\n    local_var = 1;\n} else{\n    local_var += 1;\n}\n\nglobal.set(\"global_var\", local_var);\n\nmsg.payload = local_var;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 1640,
        "wires": [
            [
                "22d0bb966a54f959"
            ]
        ]
    },
    {
        "id": "f5bfb47b1e8db6b6",
        "type": "inject",
        "z": "b3f109c8e7cfd97e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 1640,
        "wires": [
            [
                "4442c90811317a6a"
            ]
        ]
    },
    {
        "id": "22d0bb966a54f959",
        "type": "link out",
        "z": "b3f109c8e7cfd97e",
        "name": "link out 59",
        "mode": "link",
        "links": [
            "91bcc844259c52b1"
        ],
        "x": 485,
        "y": 1640,
        "wires": []
    },
    {
        "id": "7640d11e4c2bfdee",
        "type": "link out",
        "z": "b3f109c8e7cfd97e",
        "name": "link out 60",
        "mode": "link",
        "links": [
            "91bcc844259c52b1"
        ],
        "x": 485,
        "y": 1580,
        "wires": []
    },
    {
        "id": "e84119d64b6fd98b",
        "type": "link out",
        "z": "b3f109c8e7cfd97e",
        "name": "link out 61",
        "mode": "link",
        "links": [
            "91bcc844259c52b1"
        ],
        "x": 485,
        "y": 1540,
        "wires": []
    },
    {
        "id": "7196a695278ede18",
        "type": "link out",
        "z": "b3f109c8e7cfd97e",
        "name": "link out 62",
        "mode": "link",
        "links": [
            "91bcc844259c52b1"
        ],
        "x": 485,
        "y": 1480,
        "wires": []
    },
    {
        "id": "91bcc844259c52b1",
        "type": "link in",
        "z": "b3f109c8e7cfd97e",
        "name": "link in 35",
        "links": [
            "7196a695278ede18",
            "e84119d64b6fd98b",
            "7640d11e4c2bfdee",
            "22d0bb966a54f959"
        ],
        "x": 615,
        "y": 1540,
        "wires": [
            [
                "3e532d29f243466a"
            ]
        ]
    },
    {
        "id": "52c66ca3b6031bed",
        "type": "inject",
        "z": "b3f109c8e7cfd97e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 1920,
        "wires": [
            [
                "5efd0156f4c2fc98"
            ]
        ]
    },
    {
        "id": "5efd0156f4c2fc98",
        "type": "tcp out",
        "z": "b3f109c8e7cfd97e",
        "d": true,
        "name": "",
        "host": "127.0.0.1",
        "port": "6540",
        "beserver": "client",
        "base64": false,
        "end": true,
        "tls": "",
        "x": 610,
        "y": 1920,
        "wires": []
    },
    {
        "id": "a90f071c9c67ce2a",
        "type": "debug",
        "z": "b3f109c8e7cfd97e",
        "name": "debug 65",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 2060,
        "wires": []
    },
    {
        "id": "6c571c91301a4259",
        "type": "tcp in",
        "z": "b3f109c8e7cfd97e",
        "d": true,
        "name": "",
        "server": "server",
        "host": "",
        "port": "6540",
        "datamode": "stream",
        "datatype": "utf8",
        "newline": "",
        "topic": "",
        "trim": false,
        "base64": false,
        "tls": "",
        "x": 200,
        "y": 2060,
        "wires": [
            [
                "a90f071c9c67ce2a"
            ]
        ]
    },
    {
        "id": "4e920b3055e6041e",
        "type": "comment",
        "z": "b3f109c8e7cfd97e",
        "name": "TCP request",
        "info": "",
        "x": 130,
        "y": 1880,
        "wires": []
    },
    {
        "id": "09b1151ba7671890",
        "type": "inject",
        "z": "b3f109c8e7cfd97e",
        "name": "*IDN?",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[42,73,68,78,63,13,10]",
        "payloadType": "bin",
        "x": 190,
        "y": 1960,
        "wires": [
            [
                "5efd0156f4c2fc98"
            ]
        ]
    },
    {
        "id": "b4c5f612359374a9",
        "type": "inject",
        "z": "b3f109c8e7cfd97e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "*IDN?",
        "payloadType": "str",
        "x": 190,
        "y": 2000,
        "wires": [
            [
                "787c0d9ed3ccb3b9"
            ]
        ]
    },
    {
        "id": "69d42d64bc23d830",
        "type": "join",
        "z": "b3f109c8e7cfd97e",
        "name": "",
        "mode": "custom",
        "build": "buffer",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "1",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 430,
        "y": 2000,
        "wires": [
            [
                "5efd0156f4c2fc98"
            ]
        ]
    },
    {
        "id": "787c0d9ed3ccb3b9",
        "type": "split",
        "z": "b3f109c8e7cfd97e",
        "name": "",
        "splt": "1",
        "spltType": "len",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 310,
        "y": 2000,
        "wires": [
            [
                "69d42d64bc23d830"
            ]
        ]
    },
    {
        "id": "9985e6a4589fce69",
        "type": "function",
        "z": "b3f109c8e7cfd97e",
        "name": "join",
        "func": "switch (msg.topic){\n    case \"aaa\":\n        context.set(\"aaa\",msg.payload);\n        break;\n    case \"bbb\":\n        context.set(\"bbb\", msg.payload);\n        break;\n    case \"ccc\":\n        const aaa = context.get(\"aaa\");\n        const bbb = context.get(\"bbb\");\n        const ccc = msg.payload;\n            \n            msg.payload = { \"aaa\": aaa, \"bbb\": bbb, \"ccc\": ccc};\n            \n            context.set(\"aaa\", null);\n            context.set(\"bbb\", null);\n\n            return msg;\n        break;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 1740,
        "wires": [
            [
                "5ee1bcec7a900fb8"
            ]
        ]
    },
    {
        "id": "0409ca92651b5093",
        "type": "inject",
        "z": "b3f109c8e7cfd97e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "aaa",
        "payload": "999",
        "payloadType": "num",
        "x": 200,
        "y": 1720,
        "wires": [
            [
                "9985e6a4589fce69"
            ]
        ]
    },
    {
        "id": "ce9d6b8105afb0da",
        "type": "inject",
        "z": "b3f109c8e7cfd97e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "bbb",
        "payload": "888",
        "payloadType": "str",
        "x": 200,
        "y": 1760,
        "wires": [
            [
                "9985e6a4589fce69"
            ]
        ]
    },
    {
        "id": "7e800e02f6bea7fb",
        "type": "inject",
        "z": "b3f109c8e7cfd97e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "ccc",
        "payload": "true",
        "payloadType": "bool",
        "x": 190,
        "y": 1800,
        "wires": [
            [
                "9985e6a4589fce69"
            ]
        ]
    },
    {
        "id": "5ee1bcec7a900fb8",
        "type": "debug",
        "z": "b3f109c8e7cfd97e",
        "name": "debug 66",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 1740,
        "wires": []
    },
    {
        "id": "2829d42def3dbc29",
        "type": "inject",
        "z": "b3f109c8e7cfd97e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "z",
                "v": "1",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 700,
        "wires": [
            [
                "f39a01ccd7bd566f"
            ]
        ]
    },
    {
        "id": "f39a01ccd7bd566f",
        "type": "function",
        "z": "b3f109c8e7cfd97e",
        "name": "function 8",
        "func": "msg.y = 2;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 700,
        "wires": [
            [
                "520f3f84d14a8d25"
            ]
        ]
    },
    {
        "id": "520f3f84d14a8d25",
        "type": "function",
        "z": "b3f109c8e7cfd97e",
        "name": "function 9",
        "func": "msg.x = 3;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 700,
        "wires": [
            [
                "651cb5a537c2323a"
            ]
        ]
    },
    {
        "id": "651cb5a537c2323a",
        "type": "function",
        "z": "b3f109c8e7cfd97e",
        "name": "function 10",
        "func": "msg.x = 4;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 700,
        "wires": [
            [
                "fee1f93f2b681005"
            ]
        ]
    },
    {
        "id": "fee1f93f2b681005",
        "type": "debug",
        "z": "b3f109c8e7cfd97e",
        "name": "debug 67",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 700,
        "wires": []
    },
    {
        "id": "3cd19ca455e0bee0",
        "type": "exec",
        "z": "b3f109c8e7cfd97e",
        "command": "ping 8.8.8.8",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 390,
        "y": 1120,
        "wires": [
            [
                "497c717c654e6464"
            ],
            [],
            [
                "497c717c654e6464"
            ]
        ]
    },
    {
        "id": "3fbfeba69180151c",
        "type": "inject",
        "z": "b3f109c8e7cfd97e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 1120,
        "wires": [
            [
                "3cd19ca455e0bee0"
            ]
        ]
    },
    {
        "id": "497c717c654e6464",
        "type": "debug",
        "z": "b3f109c8e7cfd97e",
        "name": "debug 68",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 1120,
        "wires": []
    },
    {
        "id": "dd7a507d20164ab1",
        "type": "comment",
        "z": "b3f109c8e7cfd97e",
        "name": "Linux / MacOS / Windows",
        "info": "",
        "x": 410,
        "y": 1080,
        "wires": []
    },
    {
        "id": "507637d31430bf53",
        "type": "inject",
        "z": "b3f109c8e7cfd97e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[97,100,109,105,110,13,10,115,121,115,109,97,113,13,10]",
        "payloadType": "bin",
        "x": 190,
        "y": 2320,
        "wires": [
            [
                "ff36d5fcf012ffd3"
            ]
        ]
    },
    {
        "id": "ff36d5fcf012ffd3",
        "type": "tcp request",
        "z": "b3f109c8e7cfd97e",
        "d": true,
        "name": "",
        "server": "192.168.0.13",
        "port": "23",
        "out": "sit",
        "ret": "buffer",
        "splitc": " ",
        "newline": "",
        "trim": false,
        "tls": "",
        "x": 420,
        "y": 2320,
        "wires": [
            [
                "a90f071c9c67ce2a"
            ]
        ]
    }
]